ScheduledStartandStopforSAPSystems/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "The name of the logic app that creates start/stop schedule."
      }
    },
    "SAPOperationType": {
      "allowedValues": ["start", "stop"],
      "type": "string",
      "metadata": {
        "allowedValues": ["start", "stop"],
        "description": "Operation to be performed on SAP resource.",
        "displayName": "SAP operation type",
        "required": true
      }
    },
    "IncludeDatabaseOperations": {
      "type": "bool",
      "metadata": {
        "description": "Start/Stop the Database Instance",
        "displayName": "Include Database instance",
        "required": false
      }
    },
    "IncludeVirtualMachineOperation": {
      "type": "bool",
      "metadata": {
        "description": "Start/Stop the virtual machines",
        "displayName": "Include virtual machines operation",
        "required": true
      }
    },
    "OperationExecution": {
      "type": "string",
      "metadata": {
        "description": "Perform operations in sequence",
        "displayName": "Perform operations in sequence",
        "required": true
      }
    },
    "SoftStopTimeout": {
      "type": "int",
      "defaultValue": 0,
      "metadata": {
        "required": false,
        "displayName": "Soft stop timeout (in seconds)",
        "description": "Soft stop timeout value, if this value is 0, hard stop will be triggered"
      }
    },
    "VirtualInstanceForSAPSolutionsResourceID": {
      "type": "array",
      "metadata": {
        "displayName": "Virtual Instance for SAP solutions Resource ID(s)",
        "required": true
      }
    },
    "Frequency": {
      "allowedValues": ["Month", "Week", "Day"],
      "type": "string",
      "metadata": {
        "allowedValues": ["Month", "Week", "Day"],
        "description": "How often should schedule run. i.e. Weekly",
        "displayName": "Frequency",
        "placeholder": "How often does schedule run",
        "required": false
      }
    },
    "Interval": {
      "type": "int"
    },
    "OnTheseDays": {
      "type": "array",
      "defaultValue": [],
      "metadata": {
        "description": "Remove the days in a week you want to skip the opeartion",
        "required": false,
        "displayName": "On these days"
      }
    },
    "AtTheseHours": {
      "type": "array",
      "defaultValue": ["00"],
      "metadata": {
        "required": false,
        "displayName": "At these hours"
      }
    },
    "AtThisMinutes": {
      "type": "array",
      "defaultValue": ["0"],
      "metadata": {
        "required": false,
        "displayName": "At these minutes"
      }
    },
    "StartTime": {
      "type": "string",
      "metadata": {
        "description": "Select start time to Power On SAP system",
        "displayName": "Start Time",
        "format": "timeFormat",
        "required": false
      }
    },
    "TimeZone": {
      "type": "string",
      "metadata": {
        "description": "Select time zone for task schedule",
        "displayName": "Time zone",
        "placeholder": "Select time zone for task schedule",
        "required": true
      }
    },
    "ManagedIdentityId": {
      "type": "string",
      "metadata": {
        "description": "Managed Identity Id",
        "displayName": "Managed Identity Id",
        "required": true
      }
    }
  },
  "variables": {
    "armConnectionName": "[concat('sapops-arm-',uniqueString(deployment().name))]",
    "logicAppAlertName": "[toLower( concat( parameters('LogicAppName'), '-logicappalert-', uniqueString(deployment().name) ) )]",
    "actionGroupName": "[toLower( concat( 'sapops-', uniqueString(deployment().name) ) )]",
    "visAlertName": "[toLower( concat( 'sapops-visalert-', uniqueString(deployment().name) ) )]",
    "defaultAtTheseHours": ["0"],
    "dailySchedule": {
      "Recurrence": {
        "recurrence": {
          "frequency": "[parameters('Frequency')]",
          "interval": "[parameters('Interval')]",
          "startTime": "[parameters('StartTime')]",
          "schedule": {
            "hours": "[if(equals(length(parameters('AtTheseHours')), 0), json(string(variables('defaultAtTheseHours'))), parameters('AtTheseHours'))]",
            "minutes": "[parameters('AtThisMinutes')]"
          },
          "timeZone": "[parameters('TimeZone')]"
        },
        "type": "Recurrence"
      }
    },
    "weeklySchedule": {
      "Recurrence": {
        "recurrence": {
          "frequency": "[parameters('Frequency')]",
          "interval": "[parameters('Interval')]",
          "startTime": "[parameters('StartTime')]",
          "schedule": {
            "weekDays": "[parameters('OnTheseDays')]",
            "hours": "[if(equals(length(parameters('AtTheseHours')), 0), json(string(variables('defaultAtTheseHours'))), parameters('AtTheseHours'))]",
            "minutes": "[parameters('AtThisMinutes')]"
          },
          "timeZone": "[parameters('TimeZone')]"
        },
        "type": "Recurrence"
      }
    },
    "monthlySchedule": {
      "Recurrence": {
        "recurrence": {
          "frequency": "[parameters('Frequency')]",
          "interval": "[parameters('Interval')]",
          "startTime": "[parameters('StartTime')]",
          "timeZone": "[parameters('TimeZone')]"
        },
        "type": "Recurrence"
      }
    },
    "otherSchedule": "[if(equals(parameters('Frequency'), 'Week'), variables('weeklySchedule'), variables('dailySchedule'))]",
    "sequentialOperations": {
      "concurrency": {
        "repetitions": 1
      }
    },
    "concurrentOperations": {
      "concurrency": {
        "repetitions": 20
      }
    }
  },
  "resources": [
    {
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[resourceGroup().location]",
      "apiVersion": "2019-05-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]"
      ],
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities": {
          "[parameters('ManagedIdentityId')]": {}
        }
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "ResourceName": {
              "defaultValue": "[parameters('VirtualInstanceForSAPsolutionsResourceID')]",
              "type": "array"
            },
            "OperationName": {
              "defaultValue": "[parameters('SAPOperationType')]",
              "type": "string"
            },
            "SoftStopTimeout": {
              "defaultValue": "[parameters('SoftStopTimeout')]",
              "type": "int"
            },
            "IncludeDatabaseOperations": {
              "defaultValue": "[parameters('IncludeDatabaseOperations')]",
              "type": "bool"
            },
            "IncludeVirtualMachineOperation": {
              "defaultValue": "[parameters('IncludeVirtualMachineOperation')]",
              "type": "bool"
            }
          },
          "triggers": "[if(equals(parameters('Frequency'), 'Month'), variables('monthlySchedule'), variables('otherSchedule'))]",
          "actions": {
            "Check_if_list_of_resources_with_failed_operation_empty": {
                "actions": {},
                "else": {
                    "actions": {
                        "Terminate": {
                            "inputs": {
                                "runError": {
                                    "code": "The @{parameters('OperationName')} has failed on some resources. Please check the list of resource Ids in the variable - \"List of Resource IDs with failure\""
                                },
                                "runStatus": "Failed"
                            },
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@length(variables('List of Resource IDs with failure'))",
                                0
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "SAP_operation_type": [
                        "Succeeded",
                        "TimedOut",
                        "Failed"
                    ]
                },
                "type": "If"
            },
            "Initialize_array_of_VIS_where_db_instance_had_failed_start_or_stop_operation": {
                "inputs": {
                    "variables": [
                        {
                            "name": "VIS with failed db instance operation",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_array_of_resources_with_failed_start_or_stop_operation_and_error_msg": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_array_of_resources_with_failed_start_or_stop_operation_and_error_msg": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FailedResources",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_for_list_of_resource_IDs_with_failure": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_for_list_of_resource_IDs_with_failure": {
                "inputs": {
                    "variables": [
                        {
                            "name": "List of Resource IDs with failure",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "SAP_operation_type": {
                "actions": {
                    "For_each_VIS_resource_start": {
                        "actions": {
                            "Database_start_operation": {
                                "actions": {
                                    "For_each_DB_instance_start": {
                                        "actions": {
                                            "Check_if_success_in_start_db_instance": {
                                                "actions": {},
                                                "else": {
                                                    "actions": {
                                                        "Append_to_array_variable_with_failed_DB_instance_operations": {
                                                            "inputs": {
                                                                "name": "FailedResources",
                                                                "value": "@{body('Parse_result_of_start_op_failed_on_db_instance')?['id']} has failed with the error @{body('Parse_result_of_start_op_failed_on_db_instance')?['error']?['code']}with message @{body('Parse_result_of_start_op_failed_on_db_instance')?['error']?['message']}"
                                                            },
                                                            "runAfter": {
                                                                "Parse_result_of_start_op_failed_on_db_instance": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "AppendToArrayVariable"
                                                        },
                                                        "Is_the_failure_in_starting_due_to_db_instance_already_starting_or_running": {
                                                            "actions": {},
                                                            "else": {
                                                                "actions": {
                                                                    "Append_db_instance_to_failed_resource_IDs": {
                                                                        "inputs": {
                                                                            "name": "List of Resource IDs with failure",
                                                                            "value": "@body('Parse_result_of_start_op_failed_on_db_instance')?['id']"
                                                                        },
                                                                        "type": "AppendToArrayVariable"
                                                                    },
                                                                    "Append_to_array_of_VIS_with_failed_db_instance_op_stop": {
                                                                        "inputs": {
                                                                            "name": "VIS with failed db instance operation",
                                                                            "value": "@items('For_each_VIS_resource_start')"
                                                                        },
                                                                        "runAfter": {
                                                                            "Append_db_instance_to_failed_resource_IDs": [
                                                                                "Succeeded"
                                                                            ]
                                                                        },
                                                                        "type": "AppendToArrayVariable"
                                                                    }
                                                                }
                                                            },
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@body('Parse_JSON_for_db_instance_if_start_successful')?['properties']?['status']",
                                                                            "Running"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "runAfter": {
                                                                "Append_to_array_variable_with_failed_DB_instance_operations": [
                                                                    "Succeeded"
                                                                ]
                                                            },
                                                            "type": "If"
                                                        },
                                                        "Parse_result_of_start_op_failed_on_db_instance": {
                                                            "inputs": {
                                                                "content": "@body('Initiate_database_instance_start')",
                                                                "schema": {
                                                                    "properties": {
                                                                        "endTime": {
                                                                            "type": "string"
                                                                        },
                                                                        "error": {
                                                                            "properties": {
                                                                                "code": {
                                                                                    "type": "string"
                                                                                },
                                                                                "message": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "resourceId": {
                                                                            "type": "string"
                                                                        },
                                                                        "startTime": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "ParseJson"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "contains": [
                                                                "@body('Parse_result_of_start_operation_on_db_instance')?['status']",
                                                                "Succeeded"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {
                                                    "Parse_JSON_for_db_instance_if_start_successful": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Initiate_database_instance_start": {
                                                "inputs": {
                                                    "body": {
                                                        "startVm": "@parameters('IncludeVirtualMachineOperation')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_start'), '/')[8],'/databaseInstances/',items('For_each_DB_instance_start')?['name'])}/@{encodeURIComponent(parameters('OperationName'))}",
                                                    "queries": {
                                                        "x-ms-api-version": "2023-10-01-preview"
                                                    }
                                                },
                                                "type": "ApiConnection"
                                            },
                                            "Parse_JSON_for_db_instance_if_start_successful": {
                                                "inputs": {
                                                    "content": "@body('Read_DB_instance_details')",
                                                    "schema": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "databaseSid": {
                                                                        "type": "string"
                                                                    },
                                                                    "databaseType": {
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Read_DB_instance_details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Parse_result_of_start_operation_on_db_instance": {
                                                "inputs": {
                                                    "content": "@body('Initiate_database_instance_start')",
                                                    "schema": {
                                                        "properties": {
                                                            "endTime": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {},
                                                            "resourceId": {
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Initiate_database_instance_start": [
                                                        "Succeeded",
                                                        "Failed"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Read_DB_instance_details": {
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/subscriptions/@{encodeURIComponent(split(body('Parse_result_of_start_operation_on_db_instance')?['resourceId'], '/')[2])}/resourcegroups/@{encodeURIComponent(split(body('Parse_result_of_start_operation_on_db_instance')?['resourceId'], '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(body('Parse_result_of_start_operation_on_db_instance')?['resourceId'], '/')[8],'/databaseInstances/',split(body('Parse_result_of_start_operation_on_db_instance')?['resourceId'], '/')[10])}",
                                                    "queries": {
                                                        "x-ms-api-version": "2023-10-01-preview"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Parse_result_of_start_operation_on_db_instance": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection"
                                            }
                                        },
                                        "foreach": "@body('Parse_database_instance_start_operation_response')?['value']",
                                        "runAfter": {
                                            "Parse_database_instance_start_operation_response": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Parse_database_instance_start_operation_response": {
                                        "inputs": {
                                            "content": "@body('Read_database_instance_start_operation_response')",
                                            "schema": {
                                                "properties": {
                                                    "value": {
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {
                                                                    "properties": {
                                                                        "databaseSid": {
                                                                            "type": "string"
                                                                        },
                                                                        "databaseType": {
                                                                            "type": "string"
                                                                        },
                                                                        "ipAddress": {
                                                                            "type": "string"
                                                                        },
                                                                        "loadBalancerDetails": {
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "provisioningState": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        },
                                                                        "subnet": {
                                                                            "type": "string"
                                                                        },
                                                                        "vmDetails": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "status": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "virtualMachineId": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "virtualMachineId",
                                                                                    "status"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "systemData": {
                                                                    "properties": {
                                                                        "createdAt": {
                                                                            "type": "string"
                                                                        },
                                                                        "createdBy": {
                                                                            "type": "string"
                                                                        },
                                                                        "createdByType": {
                                                                            "type": "string"
                                                                        },
                                                                        "lastModifiedAt": {
                                                                            "type": "string"
                                                                        },
                                                                        "lastModifiedBy": {
                                                                            "type": "string"
                                                                        },
                                                                        "lastModifiedByType": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "tags": {
                                                                    "type": "object"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name",
                                                                "type",
                                                                "location",
                                                                "systemData",
                                                                "properties"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "runAfter": {
                                            "Read_database_instance_start_operation_response": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ParseJson"
                                    },
                                    "Read_database_instance_start_operation_response": {
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['arm']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_start'), '/')[8],'/databaseInstances')}",
                                            "queries": {
                                                "x-ms-api-version": "2023-10-01-preview"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "else": {
                                    "actions": {}
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@parameters('IncludeDatabaseOperations')",
                                                true
                                            ]
                                        }
                                    ]
                                },
                                "type": "If"
                            },
                            "Did_any_db_instance_start_operation_on_VIS_fail": {
                                "actions": {
                                    "Append_to_array_variable_that_start_op_not_triggered_on_VIS": {
                                        "inputs": {
                                            "name": "FailedResources",
                                            "value": "Start operation not triggered on @{items('For_each_VIS_resource_start')} as db instance start failed. "
                                        },
                                        "type": "AppendToArrayVariable"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Check_if_success_in_start_VIS_instance": {
                                            "actions": {},
                                            "else": {
                                                "actions": {
                                                    "Append_to_array_variable_with_failed_VIS_instance_operations": {
                                                        "inputs": {
                                                            "name": "FailedResources",
                                                            "value": " @{body('Parse_result_of_start_op_failed_on_VIS')?['id']}has failed with the error @{body('Parse_result_of_start_op_failed_on_VIS')?['error']?['code']} with message @{body('Parse_result_of_start_op_failed_on_VIS')?['error']?['message']}"
                                                        },
                                                        "runAfter": {
                                                            "Parse_result_of_start_op_failed_on_VIS": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "AppendToArrayVariable"
                                                    },
                                                    "Append_to_array_variable_with_failed_VIS_instance_operations_with_VIS_ID": {
                                                        "inputs": {
                                                            "name": "List of Resource IDs with failure",
                                                            "value": " @{body('Parse_result_of_start_op_failed_on_VIS')?['id']}"
                                                        },
                                                        "runAfter": {
                                                            "Append_to_array_variable_with_failed_VIS_instance_operations": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "type": "AppendToArrayVariable"
                                                    },
                                                    "Parse_result_of_start_op_failed_on_VIS": {
                                                        "inputs": {
                                                            "content": "@body('Initiate_VIS_resource_start')",
                                                            "schema": {
                                                                "properties": {
                                                                    "endTime": {
                                                                        "type": "string"
                                                                    },
                                                                    "error": {
                                                                        "properties": {
                                                                            "code": {
                                                                                "type": "string"
                                                                            },
                                                                            "message": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "resourceId": {
                                                                        "type": "string"
                                                                    },
                                                                    "startTime": {
                                                                        "type": "string"
                                                                    },
                                                                    "status": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "ParseJson"
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "or": [
                                                    {
                                                        "equals": [
                                                            "@body('Parse_VIS_Status_details')?['properties']?['status']",
                                                            "Running"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "runAfter": {
                                                "Parse_VIS_Status_details": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Initiate_VIS_resource_start": {
                                            "inputs": {
                                                "body": {
                                                    "startVm": "@parameters('IncludeVirtualMachineOperation')"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_start'), '/')[8])}/@{encodeURIComponent(parameters('OperationName'))}",
                                                "queries": {
                                                    "x-ms-api-version": "2023-10-01-preview"
                                                }
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Parse_VIS_Status_details": {
                                            "inputs": {
                                                "content": "@body('Read_VIS_status')",
                                                "schema": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "status": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {
                                                "Read_VIS_status": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Parse_VIS_start_operation_response": {
                                            "inputs": {
                                                "content": "@body('Initiate_VIS_resource_start')",
                                                "schema": {
                                                    "properties": {
                                                        "endTime": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {},
                                                        "resourceId": {
                                                            "type": "string"
                                                        },
                                                        "startTime": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {
                                                "Initiate_VIS_resource_start": [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Read_VIS_status": {
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_start'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_start'), '/')[8])}",
                                                "queries": {
                                                    "x-ms-api-version": "2023-10-01-preview"
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_VIS_start_operation_response": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@variables('VIS with failed db instance operation')",
                                                "@items('For_each_VIS_resource_start')"
                                            ]
                                        },
                                        {
                                            "equals": [
                                                "",
                                                ""
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Database_start_operation": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            }
                        },
                        "foreach": "@parameters('ResourceName')",
                        "runtimeConfiguration": {
                            "concurrency": {
                                "repetitions": 20
                            }
                        },
                        "type": "Foreach"
                    }
                },
                "else": {
                    "actions": {
                        "For_each_VIS_resource_stop": {
                            "actions": {
                                "Check_if_VIS_Stop_operation_was_successful": {
                                    "actions": {},
                                    "else": {
                                        "actions": {
                                            "Append_to_array_variable_with_failed_VIS_operations_stop": {
                                                "inputs": {
                                                    "name": "FailedResources",
                                                    "value": "@{body('Parse_VIS_Stop_operation_with_error')?['id']} has failed with the error @{body('Parse_VIS_Stop_operation_with_error')?['error']?['code']} with message @{body('Parse_VIS_Stop_operation_with_error')?['error']?['message']}"
                                                },
                                                "runAfter": {
                                                    "Parse_VIS_Stop_operation_with_error": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToArrayVariable"
                                            },
                                            "Check_if_VIS_Stopped": {
                                                "actions": {},
                                                "else": {
                                                    "actions": {
                                                        "Append_VIS_to_list_of_resource_IDs_with_failure_[not_stopped_successfully]": {
                                                            "inputs": {
                                                                "name": "List of Resource IDs with failure",
                                                                "value": "@body('Parse_JSON_to_check_VIS_Status_if_stopped')?['id']"
                                                            },
                                                            "type": "AppendToArrayVariable"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "or": [
                                                        {
                                                            "equals": [
                                                                "@body('Parse_JSON_to_check_VIS_Status_if_stopped')?['properties']?['status']",
                                                                "Offline"
                                                            ]
                                                        },
                                                        {
                                                            "equals": [
                                                                "@body('Parse_JSON_to_check_VIS_Status_if_stopped')?['properties']?['status']",
                                                                "Unavailable"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "runAfter": {
                                                    "Parse_JSON_to_check_VIS_Status_if_stopped": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "If"
                                            },
                                            "Parse_JSON_to_check_VIS_Status_if_stopped": {
                                                "inputs": {
                                                    "content": "@body('Read_VIS_details')",
                                                    "schema": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "properties": {
                                                                "properties": {
                                                                    "status": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Read_VIS_details": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Parse_VIS_Stop_operation_with_error": {
                                                "inputs": {
                                                    "content": "@body('Initiate_VIS_resource_stop')",
                                                    "schema": {
                                                        "properties": {
                                                            "endTime": {
                                                                "type": "string"
                                                            },
                                                            "error": {
                                                                "properties": {
                                                                    "code": {
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "resourceId": {
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "ParseJson"
                                            },
                                            "Read_VIS_details": {
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['arm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "get",
                                                    "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_stop'), '/')[8])}",
                                                    "queries": {
                                                        "x-ms-api-version": "2023-10-01-preview"
                                                    }
                                                },
                                                "runAfter": {
                                                    "Append_to_array_variable_with_failed_VIS_operations_stop": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "ApiConnection"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Parse_VIS_stop_operation_response')?['status']",
                                                    "Succeeded"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "",
                                                    ""
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Parse_VIS_stop_operation_response": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Database_stop_operation": {
                                    "actions": {
                                        "For_each_DB_instance_stop": {
                                            "actions": {
                                                "If_database_instance_stopped_successfully": {
                                                    "actions": {},
                                                    "else": {
                                                        "actions": {
                                                            "Append_to_array_variable_with_failed_DB_instance_operations_stop": {
                                                                "inputs": {
                                                                    "name": "FailedResources",
                                                                    "value": "@{body('Parse_database_instance_stop_failure_response')?['id']} has failed with the error @{body('Parse_database_instance_stop_failure_response')?['error']?['code']}  with message @{body('Parse_database_instance_stop_failure_response')?['error']?['message']}"
                                                                },
                                                                "runAfter": {
                                                                    "Parse_database_instance_stop_failure_response": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "AppendToArrayVariable"
                                                            },
                                                            "Append_to_array_variable_with_failed_DB_instance_operations_stop_failed": {
                                                                "inputs": {
                                                                    "name": "List of Resource IDs with failure",
                                                                    "value": "@{body('Parse_database_instance_stop_failure_response')?['id']} "
                                                                },
                                                                "runAfter": {
                                                                    "Append_to_array_variable_with_failed_DB_instance_operations_stop": [
                                                                        "Succeeded"
                                                                    ]
                                                                },
                                                                "type": "AppendToArrayVariable"
                                                            },
                                                            "Parse_database_instance_stop_failure_response": {
                                                                "inputs": {
                                                                    "content": "@body('Initiate_database_instance_stop')",
                                                                    "schema": {
                                                                        "properties": {
                                                                            "endTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "error": {
                                                                                "properties": {
                                                                                    "code": {
                                                                                        "type": "string"
                                                                                    },
                                                                                    "message": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "resourceId": {
                                                                                "type": "string"
                                                                            },
                                                                            "startTime": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "ParseJson"
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "or": [
                                                            {
                                                                "equals": [
                                                                    "@body('Parse_JSON_for_db_instance_details_after_stop')?['properties']?['status']",
                                                                    "Offline"
                                                                ]
                                                            },
                                                            {
                                                                "equals": [
                                                                    "@body('Parse_JSON_for_db_instance_details_after_stop')?['properties']?['status']",
                                                                    "Unavailable"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "runAfter": {
                                                        "Parse_JSON_for_db_instance_details_after_stop": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "If"
                                                },
                                                "Initiate_database_instance_stop": {
                                                    "inputs": {
                                                        "body": {
                                                            "deallocateVm": "@parameters('IncludeVirtualMachineOperation')",
                                                            "softStopTimeoutSeconds": "@parameters('SoftStopTimeout')"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_stop'), '/')[8],'/databaseinstances/',items('For_each_DB_instance_stop')?['name'])}/@{encodeURIComponent(parameters('OperationName'))}",
                                                        "queries": {
                                                            "x-ms-api-version": "2023-10-01-preview"
                                                        }
                                                    },
                                                    "type": "ApiConnection"
                                                },
                                                "Parse_DB_Instance_stop_response": {
                                                    "inputs": {
                                                        "content": "@body('Initiate_database_instance_stop')",
                                                        "schema": {
                                                            "properties": {
                                                                "endTime": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {},
                                                                "resourceId": {
                                                                    "type": "string"
                                                                },
                                                                "startTime": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Initiate_database_instance_stop": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson"
                                                },
                                                "Parse_JSON_for_db_instance_details_after_stop": {
                                                    "inputs": {
                                                        "content": "@body('Read_db_instance_details_after_stop')",
                                                        "schema": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "location": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "properties": {
                                                                    "properties": {
                                                                        "databaseSid": {
                                                                            "type": "string"
                                                                        },
                                                                        "databaseType": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Read_db_instance_details_after_stop": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson"
                                                },
                                                "Read_db_instance_details_after_stop": {
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_stop'), '/')[8],'/databaseInstances/',items('For_each_DB_instance_stop')?['name'])}",
                                                        "queries": {
                                                            "x-ms-api-version": "2023-10-01-preview"
                                                        }
                                                    },
                                                    "runAfter": {
                                                        "Parse_DB_Instance_stop_response": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection"
                                                }
                                            },
                                            "foreach": "@body('Parse_database_instance_stop_operation_response')?['value']",
                                            "runAfter": {
                                                "Parse_database_instance_stop_operation_response": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Parse_database_instance_stop_operation_response": {
                                            "inputs": {
                                                "content": "@body('Read_database_instance_stop_operation_response')",
                                                "schema": {
                                                    "properties": {
                                                        "value": {
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "properties": {
                                                                        "properties": {
                                                                            "databaseSid": {
                                                                                "type": "string"
                                                                            },
                                                                            "databaseType": {
                                                                                "type": "string"
                                                                            },
                                                                            "ipAddress": {
                                                                                "type": "string"
                                                                            },
                                                                            "loadBalancerDetails": {
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "provisioningState": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            },
                                                                            "subnet": {
                                                                                "type": "string"
                                                                            },
                                                                            "vmDetails": {
                                                                                "items": {
                                                                                    "properties": {
                                                                                        "status": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "virtualMachineId": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "virtualMachineId",
                                                                                        "status"
                                                                                    ],
                                                                                    "type": "object"
                                                                                },
                                                                                "type": "array"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "systemData": {
                                                                        "properties": {
                                                                            "createdAt": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdBy": {
                                                                                "type": "string"
                                                                            },
                                                                            "createdByType": {
                                                                                "type": "string"
                                                                            },
                                                                            "lastModifiedAt": {
                                                                                "type": "string"
                                                                            },
                                                                            "lastModifiedBy": {
                                                                                "type": "string"
                                                                            },
                                                                            "lastModifiedByType": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "tags": {
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "location",
                                                                    "systemData",
                                                                    "properties"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "runAfter": {
                                                "Read_database_instance_stop_operation_response": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson"
                                        },
                                        "Read_database_instance_stop_operation_response": {
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_stop'), '/')[8],'/databaseInstances')}",
                                                "queries": {
                                                    "x-ms-api-version": "2023-10-01-preview"
                                                }
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@parameters('IncludeDatabaseOperations')",
                                                    true
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "contains": [
                                                        "@variables('List of Resource IDs with failure')",
                                                        "@items('For_each_VIS_resource_stop')"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Check_if_VIS_Stop_operation_was_successful": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Initiate_VIS_resource_stop": {
                                    "inputs": {
                                        "body": {
                                            "deallocateVm": "@parameters('IncludeVirtualMachineOperation')",
                                            "softStopTimeoutSeconds": "@parameters('SoftStopTimeout')"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['arm']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/subscriptions/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[2])}/resourcegroups/@{encodeURIComponent(split(items('For_each_VIS_resource_stop'), '/')[4])}/providers/@{encodeURIComponent('Microsoft.Workloads')}/@{encodeURIComponent('sapVirtualInstances/',split(items('For_each_VIS_resource_stop'), '/')[8])}/@{encodeURIComponent(parameters('OperationName'))}",
                                        "queries": {
                                            "x-ms-api-version": "2023-10-01-preview"
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Parse_VIS_stop_operation_response": {
                                    "inputs": {
                                        "content": "@body('Initiate_VIS_resource_stop')",
                                        "schema": {
                                            "properties": {
                                                "endTime": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {},
                                                "resourceId": {
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "Initiate_VIS_resource_stop": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                }
                            },
                            "foreach": "@parameters('ResourceName')",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 20
                                }
                            },
                            "type": "Foreach"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@parameters('OperationName')",
                                "start"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_array_of_VIS_where_db_instance_had_failed_start_or_stop_operation": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            }
        },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "arm": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'arm')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('armConnectionName'))]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity",
                    "identity": "[parameters('ManagedIdentityId')]"
                  }
                },
                "connectionName": "variables('armConnectionName')"
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('armConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'arm')]"
        },
        "displayName": "arm",
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Insights/activitylogalerts",
      "apiVersion": "2020-10-01",
      "name": "[variables('visAlertName')]",
      "location": "global",
      "dependsOn": [
        "[resourceId('microsoft.insights/actionGroups',  variables('actionGroupName'))]"
      ],
      "properties": {
        "scopes": "[parameters('VirtualInstanceForSAPSolutionsResourceID')]",
        "condition": {
          "allOf": [
            {
              "field": "category",
              "equals": "Administrative"
            },
            {
              "field": "status",
              "containsAny": ["failed", "succeeded"]
            },
            {
              "field": "operationName",
              "equals": "[concat('Microsoft.Workloads/sapVirtualInstances/', parameters('SAPOperationType'), '/action')]"
            },
            {
              "field": "caller",
              "equals": "[reference(parameters('ManagedIdentityId'), '2023-01-31').principalId]"
            }
          ]
        },
        "actions": {
          "actionGroups": [
            {
              "actionGroupId": "[resourceId('microsoft.insights/actionGroups',  variables('actionGroupName'))]",
              "webhookProperties": {}
            }
          ]
        },
        "enabled": true
      }
    },
    {
      "type": "Microsoft.Insights/metricAlerts",
      "apiVersion": "2018-03-01",
      "name": "[variables('logicAppAlertName')]",
      "location": "global",
      "dependsOn": [
        "[resourceId('microsoft.insights/actionGroups',  variables('actionGroupName'))]",
        "[resourceId('Microsoft.Logic/workflows',  parameters('LogicAppName'))]"
      ],
      "properties": {
        "severity": 3,
        "enabled": true,
        "scopes": [
          "[resourceId('Microsoft.Logic/workflows',  parameters('LogicAppName'))]"
        ],
        "evaluationFrequency": "PT5M",
        "windowSize": "PT5M",
        "criteria": {
          "allOf": [
            {
              "threshold": 0,
              "name": "Metric1",
              "metricNamespace": "Microsoft.Logic/workflows",
              "metricName": "ActionsFailed",
              "operator": "GreaterThan",
              "timeAggregation": "Total",
              "skipMetricValidation": false,
              "criterionType": "StaticThresholdCriterion"
            }
          ],
          "odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria"
        },
        "autoMitigate": true,
        "targetResourceType": "Microsoft.Logic/workflows",
        "targetResourceRegion": "[parameters('location')]",
        "actions": [
          {
            "actionGroupId": "[resourceId('microsoft.insights/actionGroups',  variables('actionGroupName'))]",
            "webHookProperties": {}
          }
        ]
      }
    },
    {
      "type": "microsoft.insights/actionGroups",
      "apiVersion": "2023-01-01",
      "name": "[variables('actionGroupName')]",
      "location": "Global",
      "properties": {
        "groupShortName": "actionGroup",
        "enabled": true,
        "emailReceivers": [],
        "smsReceivers": [],
        "webhookReceivers": [],
        "eventHubReceivers": [],
        "itsmReceivers": [],
        "azureAppPushReceivers": [],
        "automationRunbookReceivers": [],
        "voiceReceivers": [],
        "logicAppReceivers": [],
        "azureFunctionReceivers": [],
        "armRoleReceivers": []
      }
    }
  ]
}
